mule-training/src/main/mule/mule-training.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0bf9b178-d5cc-46f0-90e9-3fb5b0e08260" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-trainingFlow" doc:id="eed5c330-bb18-4b70-8784-0d64f7dd634f" >
		<http:listener doc:name="Listener" doc:id="af2ecbe2-6711-4887-bdfb-78819b8d6941" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="5f641f18-69c0-4b5a-bd9d-8111f14fbd3a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome " ++ payload.firstname ++ payload.lastname 
++ ". Your mobile number is " ++ payload.mobile]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
